*{
  padding:0; margin: 0;
  border-radius: 0;
}

a{
  text-decoration: none;
}

input{
  border-radius: 0;
}
.container {
  margin: 0px auto;
  width: 100%;
}

nav{
  padding: 10px 0;
  width: 100%;
  background:rgba(20,100,200,0.7);
  text-align: right;
  /*height:70px;*/
}
nav > ul{
  margin: 0 50px 0 0;
}
nav > ul > li{
  display: inline-block;
  margin:0 20px;
  border-radius: 0;
}
nav > ul > li.left{
  float:left;
  margin-left: 50px;
}
nav > ul > li > a{
  text-decoration: none;
  color: white;
  border-radius: 0;
}
nav > ul > li > form > input {
  border:none;
  padding: 5px 15px;
  background:rgba(240,240,240,0.9);
}

.container > section.home > ol > ul > li > h2> a{

}
hr{
  width:100%;
}
.container > section.home{
  width:1000px;
  margin: 40px auto;
  text-align: left;
}
.container > section.home > ol > ul > li > h2 {
  font-weight: 100;
  display: inline;
}

.container > section.post > div > ul,
.container > section.home > ol > ul {
  padding: 10px 10px 20px;
  list-style: none;
}

.container > section.home > ol > ul > li > h2> a,
.container > section.home > ol > ul > a > li,
.container > section.home > ol > ul > li{
  display: inline;
  padding: 10px;
  width:auto;
  margin: 5px auto;
}

.container > section.post > p,
.container > section.home >ol > ul > li > p{
  width:60%;
  }

.container > section.home > ol > ul > li > h2> a{
  float: left;
}

.container > section.home > ol > ul > li > a,
.container > section.home > ol > ul > a{
  text-decoration: none;
  color:rgba(254,254,254,1);
}


.container > section.post > h5,
.container > section.home > ol > ul > li > a{
  float: right;
  padding: 10px 60px;
}

.container > section.home > a > h4 {
  float:left;
}

a{
  text-decoration: none;
}

section.home > ol > ul > li > div.votes{
  color:rgba(20,100,200,1);
  float: right;
  padding-top: 3px;
  width: 40%;
}
section.home > ol > ul > li > p{
  float:left;
  padding:10px;
  font-style: italic;
  font-weight: 100;
}
section.home > ol > ul > li > div.comment_votes{
  float: right;
 padding-top:8px;
  /*width: 100%;*/
}
section.home > ol > ul > li > div.comment_votes > h6,
section.home > ol > ul > li > div.comment_votes > a > h5{
  padding: 9px 10px 0;
  font-size: 17px;
  float:right;
  background: rgba(220,220,220,0.5);
  color: rgba(20,100,200,0.5);
  width:50px;
  height:30px;
  text-align: center;
  font-weight: 100;
}

section.home > ol > ul > li > div.votes > h5,
/*section.home > ol > ul > li > div.votes > a,*/
section.home > ol > ul > li > div.votes > a > h4{
  font-size: 17px;
  color: white;
  width:50px;
  height:30px;
  float:right;
  padding: 9px 10px 0;
  text-align: center;
  background:rgba(20,100,200,0.5);
  font-weight: 100;
}

section.home > ol > ul > li > h3{
  width: 100%;
  padding:3px;
  font-size: 22px;
  font-weight: 100;
  letter-spacing: 2px;
  background:rgba(20,100,200,0.8);
}


section.home > ol > ul > li > h3 > a{
  text-align: center;
  color: white;
}

section.home > ol > ul > li > h2 > a{
  background: rgba(220,220,220,0.5);
  color: rgba(20,100,200,0.8);
  font-size: 16px;
}

.container > section.post h5,
.container > section.post h3,
.container > section.home > ol > ul > li > a,
.container > section.home > ol > ul > a > li{
  color: rgba(20,100,200,0.6);
  background: rgba(220,220,220,0.7);
}

.container > section.home > ol > ul > a:hover > li{

}

.container > section.post{
  width: 700px;
  margin: 40px auto;
}

.container > section.post h3{
  padding: 6px 60px 6px 0;
  width: 40%;
}

.container > section.post > h3,
.container > section.post > h5,
.container > section.post > p{
  margin: 0 0 10px;
}

.container > section.post > p,
.container > section.post > div{
  margin: 20px;
}

.container > section.post > div > ul > li {
  margin: 15px 0 0;
}
.container > section.post > div > ul > li >h4{
  color: rgba(20,100,200,1);
  float: left;
  /*padding: 5px 30px;*/
}
.container > section.post > div > ul > li >h5{
  float: right;
  padding: 5px 30px;
}






