<h1>Create a Post</h1>
<form id="new-post" action="/post/create" method="POST">
  <label for="title">Title</label>
  <input type="text" name="post[title]" placeholder="post">
  <label for="content">Content</label>
  <input type="text" name="post[content]" placeholder="content">
  <input type="submit" value="Post"> 
</form>
